
// Buttons

@mixin ui_button_primary {
  @include ui_input;
  color: white;
  font-size: .875em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  background: $red-2;
  min-width: 100px;
  border: none;
  padding: 1em;
  margin-bottom: 1.15em;
  transition: all .125s;
  &:focus {
    outline: none;
    background: $red-1;
  }
  .no-touch &:hover {
    background: $red-1;
  }
}

@mixin full_width_button {
  @media (max-width: $s - 1) {
    width: 100%;
  }
}

@mixin arrow_symbol {
  display: inline-block;
  line-height: 16px;
  font-size: 1.6em;
  position: relative;
  top: .12em;
  .firefox &,
  .msedge & {
    top: 0;
  }
}

@mixin right_arrow {
  &:after {
    @include arrow_symbol;
    content: '\2192';
    margin-left: .05em;
  }
}

@mixin left_arrow {
  &:before {
    @include arrow_symbol;
    content: '\2190';
    margin-right: .05em;
  }
}

@mixin arrow_link($direction: null) {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 200;
  color: $brown;
  line-height: inherit;
  background-color: transparent;
  @if $direction == 'right' {
    @include right_arrow;
  } @elseif $direction == 'left' {
    @include left_arrow;
  }
  .no-touch &:hover {
    color: $brown;
  }
}

button,
button[type="submit"],
input[type="submit"] {
  cursor: pointer;
  &.btn {
    @include ui_button_primary;
  }
  &.btn-arrow {
    @include arrow_link('right');
    font-family: inherit;
    -webkit-appearance: none;
    border: none;
    padding: 0;
    &:focus {
      outline: none;
      color: black;
    }
  }
}

a.btn {
  @include ui_button_primary;
  display: inline-block;
  margin-top: 1em;
  &:hover {
    color: white;
  }
}

.cta-link {
  @include arrow_link('right');
  margin-top: 1.5em;
  &:first-child {
    margin-top: 0;
  }
}

p + .cta-link {
  margin-top: .25em;
}

.section-title + .cta-link {
  margin-top: 0;
}

.content-area .cta-link:not(:last-child) {
  margin-bottom: 2em;
}

.btn-close {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url(../img/x-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}


#scroll-top-container {
  display: none;
  position: fixed;
  right: 1.5vw;
  bottom: 1.5vw;
  width: 50px;
  height: 50px;
}

#btn-scroll-top {
  display: block;
  width: inherit;
  height: inherit;
  border: solid 1px;
  color: black;
  transition: all .2s;
  background-color: rgba(white, .33);
  background-image: url('../img/icn-chevron-up.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  .no-touch &:hover {
    color: $red-2;
    background-color: white;
    background-image: url('../img/icn-chevron-up-red.svg');
  }
  @media (max-width: $m - 1) {
    display: none;
  }
}
