
// Buttons

@mixin ui_button_primary {
  @include ui_input;
  color: white;
  font-size: .875em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  background: $red-2;
  min-width: 100px;
  border: none;
  padding: 1em;
  margin-bottom: 1.15em;
  transition: all .125s;
  &:focus {
    outline: none;
    background: $red-1;
  }
  &:hover {
    background: $red-1;
  }
}

@mixin full_width_button {
  @media (max-width: $s - 1) {
    width: 100%;
  }
}

@mixin arrow_link {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 200;
  color: $brown;
  line-height: inherit;
  background-color: transparent;
  &:after {
    display: inline-block;
    line-height: 0;
    content: '\2192';
    font-size: 1.6em;
    position: relative;
    top: .12em;
    left: .07em;
  }
  &:hover {
    color: $brown;
  }
}

button,
button[type="submit"]
input[type="submit"] {
  &.btn {
    @include ui_button_primary;
  }
  &.btn-arrow {
    @include arrow_link;
    font-family: inherit;
    -webkit-appearance: none;
    border: none;
    padding: 0;
    &:focus {
      outline: none;
      color: black;
    }
  }
}

.cta-link {
  @include arrow_link;
  margin-top: 1.5em;
  &:first-child {
    margin-top: 0;
  }
}

p + .cta-link {
  margin-top: .5em;
}

.section-title + .cta-link {
  margin-top: 0;
}

.btn-close {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url(../img/x-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
