

// Events

.upcoming-event-list {
  padding: 1.25em 0;
  @media (min-width: $l) {
    padding: 2em 0;
  }
}

.upcoming-event {
  @include flex;
  align-items: flex-start;
  &:not(:last-child) {
    padding-bottom: 1.75em;
    margin-bottom: 2.25em;
    border-bottom: solid 1px lighten($brown, 50%);
  }
  @media (min-width: $l) {
    &:not(:last-child) {
      padding-bottom: 2em;
      margin-bottom: 2.75em;
    }
  }
}

.upcoming-event img {
  margin-bottom: 1.25em;
}

.event-name,
.article-title {

}

.event-date-time {
  font-weight: 400;
  color: black;
  margin-bottom: .75em;
}

.event-body {
  margin-bottom: 1em;
  @media (min-width: $m) {
    font-size: 1.125em;
  }
}

.register-link {
  color: $brown;
  text-transform: uppercase;
  &:hover {
    color: darken($brown, 20%);
  }
}

@media (min-width: $m) {
  .event-date-time,
  .register-link,
  .past-event h4 {
    font-size: 1.125em;
  }
}


// Past Events

#past-events {
  justify-content: center;
  overflow: hidden;
  .inner-wrap {
    max-width: $max_width;
    position: relative;
    margin: 0 auto;
  }
}

#past-events .section-title {
  margin: 0;
  padding-top: 1em;
}

#past-events header {
  width: 100%;
}

.past-event {
  width: 100%;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  &:nth-of-type(2) {
    background-color: black;
  }
  &:nth-of-type(3) {
    background-color: $red-2;
  }
  &:nth-of-type(4) {
    background-color: $beige;
    color: $brown;
  }
}

.past-event-date {
  font-weight: 400;
  width: 100%;
}

.past-event-name {
  margin-bottom: .5em;
  width: 100%;
}

.past-event .event-photos {
  justify-content: center;
  @media (min-width: 600px) {
    justify-content: flex-start;
  }
}

.past-event figure {
  margin: .5em 0;
  width: 75%;
  max-width: 300px;
  figcaption {
    margin-top: .5em;
  }
  @media (min-width: 600px) {
    width: 48.5%;
    &:not(:last-child) {
      margin-right: 3%;
    }
  }
}

@media (min-width: $l) {
  #past-events header,
  .past-event {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  #past-events header {
    position: absolute;
    left: 0;
  }
  .past-event:first-of-type {
    padding-top: 140px;
  }
}

@media (min-width: $xxl) {
  #past-events header {
    width: 100%;
  }
  .past-event section,
  .past-event .contain {
    position: relative;
  }
  .past-event {
    position: relative;
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100vw;
      z-index: 0;
      background-color: inherit;
    }
  }
  .past-event:first-of-type {
    width: 72%;
    max-width: $max_width * .72;
    figure {
      width: 31.33%;
    }
  }
  .past-event:nth-of-type(2) {
    width: 28%;
    max-width: $max_width * .28;
    &:before {
      left: 0;
    }
    figure {
      width: 100%;
    }
  }
  .past-event:nth-of-type(3) {
    &:before {
      right: 0;
      left: auto;
    }
  }
  .past-event:nth-of-type(3),
  .past-event:nth-of-type(4) {
    max-width: $max_width * .5;
    figure {
      width: 47.75%;
    }
    figure:not(:last-child) {
      margin-right: 4.5%;
    }
  }
}
