@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EBGaramond-Regular.woff2') format('woff2'),
       url('../fonts/EBGaramond-Regular.woff') format('woff'),
       url('../fonts/EBGaramond-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EBGaramond-Italic.woff2') format('woff2'),
       url('../fonts/EBGaramond-Italic.woff') format('woff'),
       url('../fonts/EBGaramond-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EBGaramond-Medium.woff2') format('woff2'),
       url('../fonts/EBGaramond-Medium.woff') format('woff'),
       url('../fonts/EBGaramond-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Regular.woff2') format('woff2'),
       url('../fonts/Heebo-Regular.woff') format('woff'),
       url('../fonts/Heebo-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Bold.woff2') format('woff2'),
       url('../fonts/Heebo-Bold.woff') format('woff'),
       url('../fonts/Heebo-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Medium.woff2') format('woff2'),
       url('../fonts/Heebo-Medium.woff') format('woff'),
       url('../fonts/Heebo-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Light.woff2') format('woff2'),
       url('../fonts/Heebo-Light.woff') format('woff'),
       url('../fonts/Heebo-Light.otf') format('opentype');
  font-weight: 200;
}
