
#footer {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  @media (min-width: $m) {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  @media (min-width: $l) {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}

#footer p,
#footer li {
  color: $gray-1;
  @media (min-width: 600px) and (max-width: $xl - 1) {
    font-size: 15px;
  }
}

#footer p {
  margin-bottom: .5em;
}

#footer .logo {
  margin-bottom: 16px;
  @media (min-width: $l) {
    position: relative;
    top: -5px;
    margin-bottom: 11px;
  }
}

#footer-nav ul {
  width: 100%;
}

#footer-nav .main-nav-list {
  padding-bottom: .75em;
}

#footer-nav .main-nav-item {
  break-inside: avoid;
}

@media (min-width: 600px) {
  #footer-nav .main-nav-list {
    width: 78%;
    column-count: 2;
    column-gap: 0;
    padding-bottom: 0;
  }
  #footer-nav .main-nav-item {
    padding-right: 1em;
  }
  #footer-nav .secondary-nav-list {
    width: 22%;
  }
}
