

// Forms

form {
  margin-bottom: 1em;
  width: 100%;
}

.form-title {
  margin-bottom: .75em;
  width: 100%;
}

form.single-column {
  @media (min-width: $l) {
    max-width: 500px;
  }
}

form.two-column .grid-6 {
  margin-bottom: 0;
}

.form-field {
  padding-bottom: 1em;
}

form label {
  display: block;
  font-size: .8em;
  text-transform: uppercase;
  color: $gray-3;
  font-weight: 500;
}

$placeholder-text: rgba(black, .4);

@mixin ui_input {
  font-family: inherit;
  border-radius: 3px;
  -webkit-appearance: none;
  &:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(black, .35);
  }
}

@mixin ui_input_text {
  @include ui_input;
  width: 100%;
  font-weight: inherit;
  font-size: inherit;
  background: white;
  padding: .75em;
  border: solid 1px $gray-2;
  &:focus {
    border-color: $gray-3;
  }
  &::placeholder {
    color: $placeholder-text;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select {
  @include ui_input_text;
}

textarea {
  min-height: 44px;
}



// Custom select dropdown

.custom-dropdown {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    background: transparent;
    right: 1.125em;
    top: 50%;
    margin-top: -5px;
    border-top: solid 1px $gray-3;
    border-right: solid 1px $gray-3;
    transform: rotate(135deg);
  }
}

.custom-dropdown select:invalid {
  color: $placeholder-text;
}
