

// Forms

form {
  margin: 1em 0;
}

form label {
  display: block;
  font-size: .8em;
  text-transform: uppercase;
  color: $gray-3;
  font-weight: 500;
}

.form-field {
  padding-bottom: .75em;
}

%ui_input_text {
  width: 100%;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  padding: .25em;
  border: solid 1px $gray-2;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  @extend %ui_input_text;
}
