

// Forms

form {
  margin: 1em 0;
}

form label {
  display: block;
  font-size: .8em;
  text-transform: uppercase;
  color: $gray-3;
  font-weight: 500;
}

form.two-column .grid-6 {
  margin-bottom: 0;
}

.form-field {
  padding-bottom: 1em;
}

$placeholder-text: rgba(black, .4);

@mixin ui_input {
  font-family: inherit;
  padding: .5em;
  border-radius: 3px;
  -webkit-appearance: none;
  &:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(black, .35);
  }
}

@mixin ui_input_text {
  @include ui_input;
  width: 100%;
  font-weight: inherit;
  font-size: inherit;
  background: white;
  border: solid 1px $gray-2;
  &:focus {
    border-color: $gray-3;
  }
  &::placeholder {
    color: $placeholder-text;
  }
}

@mixin ui_button {
  @include ui_input;
  color: white;
  font-size: .875em;
  font-weight: 500;
  text-transform: uppercase;
  background: $red-2;
  border: none;
  padding: .75em 1em;
  margin-bottom: 1.15em;
  transition: background .125s;
  &:focus {
    outline: none;
    background: $red-1;
  }
  &:hover {
    background: $red-1;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select {
  @include ui_input_text;
}

button,
input[type="submit"] {
  @include ui_button;
}

.custom-dropdown {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    background: transparent;
    right: 1.125em;
    top: 50%;
    margin-top: -5px;
    border-top: solid 1px $gray-3;
    border-right: solid 1px $gray-3;
    transform: rotate(135deg);
  }
}

.custom-dropdown select:invalid {
  color: $placeholder-text;
}
