
// Header

.header-container {
  @media (min-width: $l) {
    @include contain;
    padding-top: 1em;
  }
}

.logo-wrap {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 6%;
  @media (min-width: $s) {
    padding: 0 22px;
  }
  @media (min-width: $l) {
    padding: 0;
  }

}

.logo {
  display: inline-block;
}

.logo img {
  width: 180px;
  @media (min-width: $s) {
    width: 224px;
  }
}

#header .logo img {
  margin-top: 1%;
  @media (min-width: $l) {
    // width: auto;
  }
}

#menu-toggle {
  position: absolute;
  top: 12px;
  right: 14px;
  background: $red-1;
  width: 36px;
  height: 36px;
  padding: 6px;
  cursor: pointer;
  @media (min-width: $s) {
    // right: 24px;
  }
  @media (min-width: $l) {
    display: none;
  }
}

#menu-toggle > div {
  width: 20px;
  height: 2px;
  background: white;
  position: absolute;
  left: 8px;
  &:first-child {
    top: 0;
    transform: translateY(10px);
  }
  &:nth-child(2) {
    top: 50%;
    margin-top: -1px;
  }
  &:last-child {
    bottom: 0;
    transform: translateY(-10px);
  }
}

.header-top-container {
  display: none;
}
