
// Header

#header {
  position: relative;
  z-index: 10;
  min-height: 100px;
  @media (min-width: $xl) {
    padding-top: 14px;
    height: 194px;
  }
  @media (min-width: $xxl) {
    padding-top: 26px;
  }
}

.header-container {
  @include contain;
  margin-top: 14px;
  padding-bottom: 1em;
  @media (max-width: $xl - 1) {
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: $xl) {
    padding-top: 1em;
    margin-top: 0;
  }
  @media (min-width: $xxl) {
    @include flex;
    justify-content: space-between;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}


#header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: 0;
  height: 56px;
  margin: 0;
  padding-top: 10px;
  background: white;
  box-shadow: 0 0 2px rgba(black, .2);
  opacity: 0;
  animation: .5s ease fadein forwards;
  @media (min-width: $xl) {
    height: 66px;
  }
}

#header.fixed {
  #toggle-top-menu,
  .header-top-container {
    display: none !important;
  }
}

#header.fixed .header-container {
  padding-bottom: 0;
  margin-top: 0;
  @media (min-width: $xl) {
    height: auto;
    @include flex__center_y;
    justify-content: space-between;
    padding-top: 0;
  }
}

#header.fixed .logo img {
  width: 180px;
  @media (min-width: $xl) {
    width: 200px;
  }
}

#header.fixed + .main-content {
  padding-top: 100px;
  @media (min-width: $xl) {
    padding-top: 192px;
  }
}

.logo-wrap {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 6%;
  @media (min-width: $s) {
    padding: 0 22px;
  }
  @media (min-width: $l) {
    padding: 0 2.5em;
  }
  @media (min-width: $xl) {
    padding: 0;
    margin-bottom: 0;
    position: relative;
    z-index: 10;
  }
}

#header:not(.fixed) .logo-wrap {
  @media (min-width: $xxl) {
    top: 2px;
  }
}

.logo {
  display: inline-block;
}

.logo img {
  width: 180px;
  @media (min-width: $s) {
    width: 224px;
  }
}

#header .logo img {
  @media (min-width: $xxl) {
    width: auto;
  }
}

#menu-toggle {
  position: absolute;
  top: 0;
  right: 14px;
  background: $red-1;
  width: 36px;
  height: 36px;
  padding: 6px;
  cursor: pointer;
  @media (min-width: $l) {
    right: 1.5em;
  }
  @media (min-width: $xl) {
    display: none;
  }
}

#menu-toggle > div {
  width: 20px;
  height: 2px;
  background: white;
  position: absolute;
  left: 8px;
  transition: transform .2s ease;
  &:first-child {
    top: 0;
    transform: translateY(10px);
  }
  &:nth-child(2) {
    top: calc(50% - 1px);
  }
  &:last-child {
    bottom: 0;
    transform: translateY(-10px);
  }
}

#menu-toggle.animating > div {
  &:first-child {
    transform: translateY(17px);
  }
  &:last-child {
    transform: translateY(-17px);
  }
}

#menu-toggle.nav-open > div {
  &:first-child {
    transform: translateY(17px) rotate(45deg);
  }
  &:nth-child(2) {
    visibility: hidden;
  }
  &:last-child {
    transform: translateY(-17px) rotate(135deg);
  }
}

.header-top-container {
  display: none;
  position: relative;
  z-index: 5;
  @media (min-width: $xl) {
    @include flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1.25em;
  }
}

#toggle-top-menu {
  justify-content: center;
  align-items: center;
  height: 34px;
  cursor: pointer;
  @media (min-width: $xl) {
    display: none;
  }
}

#toggle-top-menu span {
  width: 12px;
  height: 12px;
  margin-top: 3px;
  background-image: url('../img/icn-chevron-down.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .7;
}

.header-top-container.open + #toggle-top-menu span {
  transform: rotate(180deg);
}

.header-top-container ul {
  @include flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  @media (min-width: $xl) {
    padding: 0;
    margin-bottom: 0;
    margin-left: 1em;
  }
}

.header-top-menu {
  padding-top: 1.75em;
  margin-bottom: 1em;
  li {
    margin: 0 .4em;
  }
}

.header-top-menu a {
  font-weight: 200;
  color: $brown;
  text-transform: uppercase;
  .no-touch &:hover {
    color: $brown;
  }
}

.sm-link-list {
  margin-bottom: 0;
  padding-bottom: .75em;
  li {
    margin: 0 .2em;
  }
}

.sm-link-list a {
  display: block;
  font-size: 0;
  width: 32px;
  height: 32px;
  @media (min-width: $xl) {
    width: 36px;
    height: 36px;
  }
}

.sm-link--facebook {
  background-image: url(../img/icn-facebook.svg);
}

.sm-link--twitter {
  background-image: url(../img/icn-twitter.svg);
}

.sm-link--linkedin {
  background-image: url(../img/icn-linkedin.svg);
}
