
// Header

.header-container {
  @include contain;
  margin-top: 14px;
  @media (max-width: $l - 1) {
    padding: 0;
  }
  @media (min-width: $l) {
    padding-top: 1em;
  }
  @media (min-width: $xl) {
    @include flex;
    justify-content: space-between;
    margin-top: 26px;
  }
}

.logo-wrap {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 6%;
  @media (min-width: $s) {
    padding: 0 22px;
  }
  @media (min-width: $l) {
    padding: 0;
    position: relative;
    z-index: 10;
  }
  @media (min-width: $xl) {
    top: 2px;
  }
}

.logo {
  display: inline-block;
}

.logo img {
  width: 180px;
  @media (min-width: $s) {
    width: 224px;
  }
}

#header .logo img {
  @media (min-width: $xl) {
    width: auto;
  }
}

#menu-toggle {
  position: absolute;
  top: 0;
  right: 14px;
  background: $red-1;
  width: 36px;
  height: 36px;
  padding: 6px;
  cursor: pointer;
  @media (min-width: $l) {
    display: none;
  }
}

#menu-toggle > div {
  width: 20px;
  height: 2px;
  background: white;
  position: absolute;
  left: 8px;
  &:first-child {
    top: 0;
    transform: translateY(10px);
  }
  &:nth-child(2) {
    top: 50%;
    margin-top: -1px;
  }
  &:last-child {
    bottom: 0;
    transform: translateY(-10px);
  }
}

.header-top-container {
  display: none;
  position: relative;
  z-index: 5;
  @media (min-width: $l) {
    @include flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1.25em;
  }
}

#toggle-top-menu {
  justify-content: center;
  align-items: center;
  height: 34px;
  cursor: pointer;
  @media (min-width: $l) {
    display: none;
  }
}

#toggle-top-menu span {
  color: rgba($brown, .7);
  font-size: .875em;
  margin-top: 3px;
}

.header-top-container.open + #toggle-top-menu span {
  transform: rotate(180deg);
}

.header-top-container ul {
  @include flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  @media (min-width: $l) {
    padding: 0;
    margin-bottom: 0;
    margin-left: 1em;
  }
}

.header-top-menu {
  padding-top: 1.75em;
  margin-bottom: 1em;
  li {
    margin: 0 .4em;
  }
}

.header-top-menu a {
  font-weight: 200;
  color: $brown;
  text-transform: uppercase;
}

.sm-link-list {
  margin-bottom: 0;
  padding-bottom: .75em;
  li {
    margin: 0 .2em;
  }
}

.sm-link-list a {
  display: block;
  font-size: 0;
  width: 32px;
  height: 32px;
  @media (min-width: $l) {
    width: 36px;
    height: 36px;
  }
}

.sm-link--facebook {
  background-image: url(../img/icn-facebook.svg);
}

.sm-link--twitter {
  background-image: url(../img/icn-twitter.svg);
}

.sm-link--linkedin {
  background-image: url(../img/icn-linkedin.svg);
}
