

#home-page-slider {
  padding-top: 1em;
  @media (min-width: $m) {
    padding-top: 1.5em;
  }
}

#home-page-slider .swiper-wrapper {
  @media (max-width: $m - 1) {
    background: #f0f0f0;
  }
  transition-delay: 500ms;
}

.hp-slide {
  @extend .swiper-slide;
  .image-container,
  .text-container {
    opacity: 0;
    transition: opacity .5s;
  }
  &.swiper-slide-active {
    .image-container {
      opacity: 1;
      transition-delay: .75s;
      transition-duration: .75s;
    }
    .text-container {
      opacity: 1;
      transition-delay: .5s;
    }
  }
}


.hp-slide img {
  height: 48.5vw;
  max-width: none;
  @media (min-width: $m) {
    width: auto;
    max-height: 600px;
  }
}

.hp-slide .text-container {
  background: #f0f0f0;
  padding-top: 1em;
  padding-bottom: 46px;
  @media (min-width: $s) {
    padding-bottom: 60px;
  }
  @media (min-width: $m) {
    @include flex__center_y;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }
}

.hp-slide .slide-content--outer {
  @include contain;
  @include flex;
  width: 100%;
}

.hp-slide .slide-content--inner {
  @media (min-width: $m) {
    width: 50%;
    padding-right: 2%;
  }
}

.slide-text {
  color: $brown;
  font-size: 1.5em;
  line-height: 1.2;
  @media (min-width: $s) {
    font-size: 2em;
  }
  @media (min-width: $l) {
    font-size: 2.5em;
    max-width: 500px;
  }
  @media (min-width: $xl) {
    font-size: 2.75em;
  }
}

.hp-slide .cta-link {
  margin-top: 0;
  @media (max-width: $s - 1) {
    font-size: .8em;
    font-weight: 400;
  }
}

#home-page-slider .swiper-pagination {
  @include flex__center;
  height: 46px;
  bottom: 0;
  @media (min-width: $s) {
    height: 56px;
  }
}

.home-page-slider-bullet {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 3px;
  background: #bbb;
  @media (min-width: $m) {
    width: 18px;
    height: 18px;
    cursor: pointer;
    background: linear-gradient(#999, #e1e1e1);
    border: solid 3px #e5e5e5;
  }
}

.home-page-slider-bullet.active,
.no-touch .home-page-slider-bullet:hover {
  background: #666;
  @media (min-width: $m) {
    border-color: #e5e5e5;
  }
}

#home-page-slider + .main-section {
  padding-top: 3em;
  padding-bottom: 3em;
  @media (min-width: $m) {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
  }
  @media (min-width: $l) {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.hp-slide.text-left {
  .image-container {
    text-align: right;
  }
  .slide-content--outer {
    justify-content: flex-start;
  }
}
.hp-slide.text-right {
  .image-container {
    text-align: left;
  }
  .slide-content--outer {
    justify-content: flex-end;
  }
}
