

// General IE styles

.ie {
  button,
  button[type="submit"],
  input[type="submit"] {
    &.btn-arrow:after {
      top: .1em;
    }
  }
}



// IE 9 and below

.ie-old {
  @extend .ie;
}

.ie-old #home-page-slider {
  display: none;
}

.ie-old .header-top-container {
  display: block;
}
