
@mixin contain {
  padding-left: 6%;
  padding-right: 6%;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $s) {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  @media (min-width: $l) {
    max-width: 1140px;
  }
}
.contain {
  @include contain;
  max-width: 600px;
}

.contain--wide {
  @include contain;
}

.main-section {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  @media (min-width: $m) {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  @media (min-width: $l) {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}

.intro-section,
.main-section:first-child {
  padding-top: 1em;
  @media (min-width: $m) {
    padding-top: 2em;
  }
  @media (min-width: $l) {
    padding-top: 3.5em;
  }
}

.sub-section:not(:last-child) {
  padding-bottom: 1.5em;
  @media (min-width: $m) {
    padding-bottom: 2em;
  }
  @media (min-width: $l) {
    padding-bottom: 2.5em;
  }
}

%dark_bg {
  color: white;
  a,
  .cta-link {
    color: inherit;
  }
}

.bg-color--brown {
  @extend %dark_bg;
  background-color: $brown;
}

.bg-color--beige {
  background-color: $beige;
}

img {
  max-width: 100%;
}

.full-width-img {
  img {
    min-width: 100%;
    object-fit: cover;
  }
}



// Grid

.grid-container {
  @include flex;
}

.v-align-center {
  align-items: center;
}

$column-count: 12;
$gutter: 42px;

%grid_item {
  width: 100%;
  margin-bottom: 1.75em;
  @media (min-width: $l) {
    margin-bottom: 0;
    margin-right: $gutter;
  }
}

%grid_item:last-child {
  margin-bottom: 0;
  @media (min-width: $l) {
    margin-right: 0;
  }
}

@mixin grid($col) {
  // Number of columns
  $n: $column-count / $col;
  // Total gutter space
  $g: ($column-count / $col - 1) * $gutter;
  @media (min-width: $l) {
    width: calc( (100% - #{$g}) / #{$n} );
  }
}

@for $i from 1 through $column-count {
  .grid-#{$i} {
    @extend %grid_item;
    @include grid($i);
  }
}



// Block Lists

%block_list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  @media (min-width: $l) {
    padding-top: .5em;
  }
}

%block_list_item {
  display: block;
  margin-bottom: 2em;
  @media (min-width: $l) {
    margin-bottom: 0;
  }
}

.block-list {
  @extend %block_list;
}

.block-list-item {
  @extend %block_list_item;
  h3 {
    color: $red-2;
    margin-bottom: .25em;
    line-height: 1.125;
  }
  img {
    display: block;
    margin: auto;
  }
  p {
    margin-bottom: .6em;
  }
}

.block-list-item header {
  margin-bottom: .75em;
  .cta-link {
    display: block;
    margin-top: 0;
  }
}



// Process Diagram

.process-diagram {
  @extend %block_list;
}

.process-item {
  @extend %block_list_item;
}

.process-item header {
  background: $red-1;
  padding: .5em 1em;
  @media (min-width: $l) {
    padding: .75em 1em;
  }
}

.process-item h4 {
  color: white;
  text-transform: uppercase;
}

.process-item .content {
  background: #EEE;
  padding: 1em;
  @media (min-width: $l) {
    padding: 1.75em;
  }
}

.process-item p {
  color: rgba(black, .7);
  @media (min-width: $s) {
    font-size: 1.125em;
  }
}

.process-item:not(:last-child) {
  header {
    background-image: url(../img/icn-chevron.svg);
    background-repeat: no-repeat;
    background-position: top 50% right .5em;
    background-size: 46px;
  }
  h4 {
    width: calc(100% - 30px);
  }
}




// Pre Footer
.pre-footer--simple li {
  margin-bottom: 1.5em;
  @media (min-width: $l) {
    margin-bottom: 0;
  }
}




.top-shadow {
  position: relative;
  overflow: hidden;
}

.top-shadow:before {
  content: '';
  display: block;
  position: absolute;
  background: transparent;
  border-radius: 50%;
  @include top_shadow(120%, 12px);
  @media (min-width: $l) {
    @include top_shadow(100%, 16px);
  }
}
