
$max_width: 1200px;

@mixin contain {
  padding-left: 6%;
  padding-right: 6%;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $s) {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  @media (min-width: $l) {
    max-width: $max_width;
  }
}

.contain {
  @include contain;
  max-width: 700px;
}

.contain--wide {
  @include contain;
}

.main-section {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  @media (min-width: $m) {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  @media (min-width: $l) {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}

.main-section:first-child {
  padding-top: 1em;
  @media (min-width: $m) {
    padding-top: 2em;
  }
  @media (min-width: $l) {
    padding-top: 3.5em;
  }
}

.sub-section:not(:last-child) {
  padding-bottom: 1.5em;
  @media (min-width: $m) {
    padding-bottom: 2em;
  }
  @media (min-width: $l) {
    padding-bottom: 2.5em;
  }
}

.section-title + .sub-section {
  padding-top: 1em;
}

%dark_bg {
  color: white;
  h2,
  h3,
  h4,
  a,
  .cta-link {
    color: inherit;
  }
}

.no-touch %dark_bg .cta-link:hover {
  color: inherit;
}

.bg-color--brown {
  @extend %dark_bg;
  background-color: $brown;
}

.bg-color--beige {
  background-color: $beige;
}

img {
  max-width: 100%;
}

picture {
  display: block;
}

.full-width-img {
  img {
    min-width: 100%;
    object-fit: cover;
  }
}

.less-padding-bottom {
  padding-bottom: 0;
  @media (min-width: $l) {
    padding-bottom: 1.5em;
  }
}

.attachment-img {
  @media (min-width: $l) {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}


// Grid

.grid-container,
.two-column-section {
  @extend .flex;
}

$column-count: 12;
$gutter: 42px;

%grid_item {
  width: 100%;
  margin-bottom: 1.75em;
  @media (min-width: $l) {
    margin-bottom: 0;
    margin-right: $gutter;
  }
}

%grid_item:last-child {
  margin-bottom: 0;
  @media (min-width: $l) {
    margin-right: 0;
  }
}

@mixin grid($col) {
  // Number of columns
  $n: $column-count / $col;
  // Total gutter space
  $g: ($column-count / $col - 1) * $gutter;
  width: calc( (100% - #{$g}) / #{$n} );
}

@for $i from 1 through $column-count {
  .grid-#{$i} {
    @extend %grid_item;
    @media (min-width: $l) {
      @include grid($i);
    }
  }
}

.full-width {
  width: 100%;
}


// Hero

.hero--70-30 {
  @include flex__center_y;
  padding-top: 1em;
  .section-title {
    margin-bottom: 0;
  }
  @media (min-width: $l) {
    padding-top: 0;
  }
}

.hero--70-30 .img-column {
  margin-bottom: 1em;
  text-align: center;
  @media (min-width: $l) {
    width: 61%;
    margin-right: 4%;
  }
  @media (min-width: $xl) {
    width: 66%;
  }
}

.hero--70-30 .text-column {
  @media (min-width: $l) {
    width: 35%;
  }
  @media (min-width: $xl) {
    width: 30%;
  }
}
