
// Global Nav Styles

nav ul {
  list-style: none;
}

.main-nav-list {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.main-nav-item {
  margin-bottom: 1.25em;
}

.secondary-nav-item a {
  display: inline-block;
}

.main-nav-item a {
  color: white;
  display: inline-block;
  &:hover {
    color: $red-1;
  }
}

.main-nav-item > a {
  text-transform: uppercase;
  font-weight: 500;
}

.sub-nav,
.secondary-nav-list {
  padding: 0;
  margin: 0;
}

.sub-nav-item a,
.secondary-nav-item a {
  margin-bottom: 2px;
}



// Header Nav Styles

#header-nav {
  display: none;
  background-color: $brown;
  color: white;
  @media (min-width: $l) {
    display: block;
    background-color: transparent;
  }
}

#header-nav .main-nav-list {
  @include contain;
  padding-top: 2em;
  padding-bottom: 2em;
  @media (min-width: $l) {
    padding: 1em 0 0 0;
    position: relative;
    left: calc(-.5em - 1px);
  }
}

#header-nav .main-nav-item {
  @media (min-width: $l) {
    display: inline-block;
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}

#header-nav .main-nav-item a {
  @media (min-width: $l) {
    color: $red-2;
  }
}

#header-nav .main-nav-item > a {
  padding-left: .5em;
  border-left: solid 1px;
  @media (min-width: $l) {
    border-color: transparent;
    &:hover {
      border-color: $red-2;
    }
  }
}

#header-nav .sub-nav {
  padding-left: 2em;
  padding-top: .3em;
  border-left: solid 1px transparent;
  @media (min-width: $l) {
    display: none;
  }
}



// Footer Nav Styles

#footer-nav .sub-nav {
  padding-top: 3px;
}

#footer-nav .main-nav-item a {
  color: inherit;
  &:hover {
    color: $red-1;
  }
}

#footer-nav .sub-nav-item a,
.secondary-nav-item a {
  font-weight: 200;
}
