
// Global Nav Styles

nav ul {
  list-style: none;
}

.main-nav-list {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.main-nav-item {
  margin-bottom: 1.25em;
}

.secondary-nav-item a {
  display: inline-block;
}

.main-nav-item a {
  color: white;
  display: inline-block;
  &:hover {
    color: $red-1;
  }
}

.main-nav-item > a {
  text-transform: uppercase;
  font-weight: 500;
}

.sub-nav,
.secondary-nav-list {
  padding: 0;
  margin: 0;
}

.sub-nav-item a,
.secondary-nav-item a {
  margin-bottom: 2px;
}



// Header Nav Styles

#header-nav {
  display: none;
  background-color: $brown;
  color: white;
  @media (min-width: $l) {
    display: block;
    background-color: transparent;
  }
}

#header-nav .main-nav-list {
  @include contain;
  padding-top: 2em;
  padding-bottom: 2em;
  @media (min-width: $l) {
    @include flex;
    padding: 1em 0 0 0;
    position: relative;
    left: calc(-.5em - 1px);
  }
}

#header-nav .main-nav-list:before {
  @media (min-width: $l) {
    @include screen_mask;
    top: 1em;
    height: 200px;
    transform: translateY(-100%);
    z-index: 3;
  }
}

#header-nav .main-nav-item {
  @media (min-width: $l) {
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    background: white;
    &:not(:last-child) > a {
      margin-right: 1.2em;
    }
  }
}

#header-nav .main-nav-item:before {
  @media (min-width: $l) {
    @include screen_mask;
    height: 100%;
    width: calc(100% - 1px);
    left: 1px;
    z-index: 1;
  }
}

#header-nav .main-nav-item a {
  @media (min-width: $l) {
    color: $red-2;
    &:hover {
      color: $red-1;
    }
  }
}

#header-nav .main-nav-item > a {
  padding-left: .5em;
  border-left: solid 1px;
  transition: all .2s ease;
  @media (min-width: $l) {
    border-color: transparent;
    border: none;
    position: relative;
    z-index: 2;
  }
}

#header-nav .sub-nav {
  padding-left: 2em;
  padding-top: .3em;
  border-left: solid 1px transparent;
  @media (min-width: $l) {
    position: absolute;
    top: 0;
    width: 200px;
    padding-left: .5em;
    padding-top: 2em;
    padding-bottom: .4em;
    border-left: solid 1px $red-2;
    background-color: white;
    transform: translateY(-100%);
    transition: transform .2s .1s ease;
  }
}

#header-nav .sub-nav:before {

}

@media (min-width: $l) {
  #header-nav .main-nav-item:hover {
    & > a {
      // border-color: $red-2;
    }
    .sub-nav {
      // display: block;
      transform: translateY(0);
    }
  }
}




// Footer Nav Styles

#footer-nav .sub-nav {
  padding-top: 3px;
}

#footer-nav .main-nav-item a {
  color: inherit;
  &:hover {
    color: $red-1;
  }
}

#footer-nav .sub-nav-item a,
.secondary-nav-item a {
  font-weight: 200;
}
