
// Global Nav Styles

nav ul {
  list-style: none;
}

.main-nav-list {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.main-nav-item {
  margin-bottom: 1.25em;
}

.secondary-nav-item a {
  display: inline-block;
}

.main-nav-item a {
  color: white;
  display: inline-block;
  &:hover {
    color: $red-1;
  }
}

.main-nav-item > a {
  text-transform: uppercase;
  font-weight: 500;
}

.sub-nav,
.secondary-nav-list {
  padding: 0;
  margin: 0;
}

.sub-nav-item a,
.secondary-nav-item a {
  margin-bottom: 2px;
}



// Header Nav Styles

#header-nav {
  display: none;
  background-color: $brown;
  color: white;
  margin-bottom: 1em;
  border-top: solid 10px white;
  @media (min-width: $xl) {
    display: block;
    background-color: transparent;
    border-top: none;
  }
}

#header.fixed #header-nav {
  box-shadow: 0 2px 2px rgba(black, .3);
  margin-bottom: 0;
  @media (min-width: $xl) {
    box-shadow: none;
    margin-bottom: 8px;
  }
}

#header-nav .main-nav-list {
  @include contain;
  padding-top: 2em;
  padding-bottom: 2em;
  @media (min-width: $xl) {
    @include flex;
    padding: 1em 0 0 0;
    position: relative;
    left: calc(-.5em - 1px);
  }
}

#header.fixed #header-nav .main-nav-list {
  @media (min-width: $xl) {
    left: 0;
  }
}

#header-nav .main-nav-list:before {
  @media (min-width: $xl) {
    @include screen_mask;
    top: 1em;
    height: 200px;
    transform: translateY(-100%);
    z-index: 3;
  }
}

#header-nav .main-nav-item {
  &.hover > a {
    color: $red-1;
  }
  @media (min-width: $xl) {
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    background: white;
    &:not(:last-child) > a {
      margin-right: 1.2em;
    }
  }
}

#header.fixed #header-nav .main-nav-item {
  @media (min-width: $xl) and (max-width: $xxl - 1) {
    font-size: 15px;
  }
}

#header-nav .main-nav-item:before {
  @media (min-width: $xl) {
    @include screen_mask;
    height: 100%;
    width: calc(100% - 5px);
    left: 5px;
    z-index: 2;
  }
}

#header-nav .main-nav-item a {
  transition: color .2s ease;
  @media (min-width: $xl) {
    color: $red-2;
    .no-touch &:hover {
      color: $red-1;
    }
  }
}

#header-nav .main-nav-item > a {
  padding-left: .5em;
  border-left: solid 1px;
  @media (min-width: $xl) {
    border-color: transparent;
    border: none;
    position: relative;
    z-index: 3;
  }
}

#header-nav .sub-nav {
  padding-left: 2em;
  padding-top: .3em;
  border-left: solid 1px transparent;
  @media (min-width: $xl) {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 200px;
    padding-left: .5em;
    padding-top: 2em;
    padding-bottom: .4em;
    border-left: solid 1px $red-2;
    background-color: white;
    transform: translateY(-100%);
    transition: transform .3s .1s ease;
  }
}

@media (min-width: $xl) {
  .no-touch #header-nav .main-nav-item:hover,
  .touch #header-nav .main-nav-item.hover {
    .sub-nav {
      transform: translateY(0);
    }
  }
}




// Footer Nav Styles

#footer-nav .sub-nav {
  padding-top: 3px;
}

#footer-nav .main-nav-item a {
  color: inherit;
  &:hover {
    color: $red-1;
  }
}

#footer-nav .sub-nav-item a,
.secondary-nav-item a {
  font-weight: 300;
}


// Current Nav Item

#header-nav .main-nav-item.current > a,
#header-nav .sub-nav a.current,
#footer-nav .main-nav-item > a.current {
  color: $red-1;
  font-weight: 500;
}

#footer-nav .sub-nav a.current {
  color: $red-1;
  font-weight: 400;
}
