

// News

#news {
  padding-top: 0;
  justify-content: center;
}


ul.news-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

.news-container {
  width: 100%;
  @media (min-width: $l) {
    width: 70%;
  }
  @media (min-width: $xl) {
    width: 78%;
  }
}

.news-filters {
  width: 100%;
  @media (min-width: $l) {
    width: 30%;
    padding-left: $gutter;
  }
  @media (min-width: $xl) {
    width: 22%;
  }
}

.news-item {
  @include flex;
  margin-bottom: 2em;
  padding-bottom: 1.75em;
  border-bottom: solid 1px $brown;
  @media (min-width: $m) {
    margin-bottom: 3em;
  }
}

.news-item .featured-image {
  display: block;
  margin-bottom: 1.5em;
  @media (min-width: $xl) {
    width: 30%;
  }
}

.news-item .post-info {
  @media (min-width: $xl) {
    width: 70%;
    padding-left: 1em;
  }
}

.post-date {
  font-size: .85em;
  font-weight: 400;
  text-transform: uppercase;
  color: $brown;
  margin-bottom: .5em;
}

.post-title {
  margin-bottom: .25em;
  line-height: 1.33;
}

.more-link,
.post-title a {
  color: $red-1;
  .no-touch &:hover {
    color: $red-2;
  }
}

.content-preview {
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.5;
}

.more-link {
  text-transform: uppercase;
}

.news-filters h4 {
  margin-bottom: 0;
}

ul.filter-options {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-bottom: 1em;
  li {
    margin-bottom: .25em;
  }
  a {
    font-weight: 300;
    color: black;
  }
}

.news-pagination {
  padding-bottom: 2.5em;
  @include flex;
}

@media (max-width: $l - 1) {
  .pagination-next,
  .pagination-prev {
    width: 50%;
  }
  .pagination-next {
    text-align: right;
    &:first-child {
      width: 100%
    }
  }
}


.news-pagination a {
  @include arrow_link;
  font-weight: 400;
  margin: 0 1em;
  &.next-page {
    @include right_arrow;
  }
  &.prev-page {
    @include left_arrow;
  }
  @media (min-width: $l) {
    margin-left: 0;
    &.prev-page {
      margin-right: 3em;
    }
  }
}


// Single Post

.page-news-article .news-container {
  max-width: 650px;
  @media (min-width: 1200px) {
    margin-left: 200px;
  }
}

.page-news-article .news-filters {
  @media (min-width: $xl) {
    width: 200px;
  }
}

.single-post {
  padding-bottom: 2em;
  border-bottom: solid 1px rgba($brown, .15);
  margin-bottom: 2em;
}

.single-post header {
  padding-bottom: .25em;
  border-bottom: solid 1px rgba($brown, .15);
  margin-bottom: 1.25em;
}

.single-post .featured-image {
  margin-bottom: 1.5em;
  @media (min-width: $m) {
    margin-bottom: 2em;
  }
}

.post-content {
  font-size: 1.05em;
  font-weight: 300;
  @media (min-width: $m) {
    font-size: 1.125em;
  }
}

.post-content .attachment-img {
  margin-top: .5em;
  margin-bottom: 1.5em;
}


.post-content hr {
  border-color: rgba($brown, .15);
}

.post-content table {
  border-spacing: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: .9em;
  th {
    text-align: left;
    color: $red-2;
  }
  @media (min-width: $xl) {
    font-size: 1em;
  }
}

.post-content table td,
.post-content table th {
  padding-right: 1em;
  padding-bottom: 1em;
  @media (min-width: $m) {
    padding-right: 1.5em;
  }
  @media (min-width: $xl) {
    padding-bottom: 1.5em;
  }
  &:last-child {
    padding-right: 0;
  }
}
