

// Shadows

%shadow_container {
  position: relative;
  overflow: hidden;
}

.top-shadow,
.bottom-shadow {
  @extend %shadow_container;
}

.top-shadow:before,
.bottom-shadow:after {
  content: '';
  display: block;
  position: absolute;
  background: transparent;
  border-radius: 50%;
}

.top-shadow:before {
  @include top_shadow(120%, 12px);
  @media (min-width: $l) {
    @include top_shadow(100%, 16px);
  }
}

.bottom-shadow:after {
  @include bottom_shadow(120%, 12px);
  @media (min-width: $l) {
    @include bottom_shadow(100%, 16px);
  }
}

.inner-shadow {
  @extend .top-shadow, .bottom-shadow;
}
