
// Team

#staff-list {
  padding-top: 1em;
  justify-content: center;
  @media (min-width: $xl) {
    justify-content: space-between;
  }
}

.team-member {
  width: 100%;
  margin-bottom: 2em;
  @media (min-width: $l) {
    width: 45%;
  }
  @media (min-width: $xl) {
    @include grid(4);
    margin-bottom: 2em;
    padding-top: 1em;
  }
}

.team-member-link {
  display: block;
  text-align: center;
  color: $red-1;
  &:hover,
  .team-member.active & {
    .team-member-photo {
      border-color: $red-1;
    }
  }
}

.team-member-photo {
  width: 60%;
  max-width: 260px;
  border: solid 3px $green;
  border-radius: 50%;
  margin-bottom: 1em;
  @media (min-width: $l) {
    width: 80%;
  }
}

.team-member-name,
.team-member-title {
  font-size: 1em;
  font-weight: bold;
  color: $red-1;
  margin-bottom: 0;
}

.team-member-bio {
  position: relative;
  overflow: hidden;
  height: 1px;
  visibility: hidden;
  .team-member.active & {
    visibility: visible;
    height: auto;
    padding-top: 2em;
    margin-top: 1em;
  }
}

.team-member .btn-close {
  position: absolute;
  top: 0;
  right: 5px;
  width: 16px;
  height: 16px;
  opacity: .5;
}
