
// Team

#staff-list {
  padding-top: 1em;
  justify-content: center;
  @media (min-width: $m) {
    justify-content: space-between;
  }
}

.team-member {
  width: 100%;
  margin-bottom: .5em;
  @media (min-width: $m) {
    @include grid(6);
  }
  @media (min-width: $l) {
    @include grid(4);
    margin-bottom: 1em;
  }
}


.team-member-link {
  display: block;
  text-align: center;
  color: $red-1;
  &:hover,
  .team-member.active & {
    .team-member-photo {
      border-color: $red-1;
    }
  }
}

.team-member-photo {
  width: 100%;
  max-width: 260px;
  border: solid 3px $green;
  border-radius: 50%;
  margin-bottom: 1em;
}

.team-member-name {
  color: $red-1;
}

.team-member-title {
  font-size: 1em;
  font-weight: bold;
}

.team-member-bio {
  position: relative;
  padding-top: 1em;
  height: 1px;
  visibility: hidden;
  .team-member.active & {
    visibility: visible;
    height: auto;
  }
}

.team-member .btn-close {
  position: absolute;
  top: -8px;
  right: 5px;
  width: 16px;
  height: 16px;
  opacity: .5;
}
