
// Typography

body {
  font-family: $sans;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1 {
  font-family: $serif;
  font-size: 2em;
  font-weight: 400;
}

h2 {
  font-family: $serif;
  font-size: 1.75em;
  line-height: 1.33;
  font-weight: 400;
  margin-bottom: .5em;
  @media (min-width: $s) {
    font-size: 2em;
  }
  @media (min-width: $m) {
    font-size: 2.25em;
  }
  @media (min-width: $l) {
    font-size: 2.5em;
  }
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: $red-1;
  margin-bottom: .125em;
  @media (min-width: $m) {
    font-size: 1.625em;
  }
}

h4 {
  color: $red-2;
  font-size: 1.125em;
  font-weight: 500;
  margin-bottom: .5em;
  @media (min-width: $m) {
    font-size: 1.25em;
  }
}

h5 {
  color: $red-2;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
}

p {
  line-height: 1.66;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $red-2;
  text-decoration: none;
  .no-touch &:hover {
    color: $red-1;
  }
}

.section-title {
  color: $brown;
  margin-bottom: .75em;
  a,
  a:hover {
    color: inherit;
  }
}

%intro_paragraph {
  font-size: 1.125em;
  line-height: 1.8;
  font-weight: 200;
  color: $red-2;
  strong {
    font-weight: 500;
  }
  a {
    color: $red-1;
    &:hover {
      color: $red-2;
      text-decoration: underline;
    }
  }

  @media (min-width: $m) {
    font-size: 1.25em;
  }
}

p.intro,
ul.intro,
.intro-section p {
  @extend %intro_paragraph;
}

.intro-section h3 {
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 0;
  &:not(:first-child) {
    margin-top: 1em;
  }
}

ul.intro {
  padding: 0 2em;
  li {
    margin-bottom: .5em;
  }
  @media (min-width: $l) {
    padding: 0 3em;
  }
}

ul.two-column {
  @media (min-width: $l) {
    column-count: 2;
    column-gap: 2.5em;
  }
}

p.large {
  @media (min-width: $s) {
    font-size: 1.125em;
    line-height: 1.75;
  }
}

span.highlight {
  color: $red-2;
  font-weight: bold;
}


.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}
