
// Typography

body {
  font-family: $sans;
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1 {
  font-family: $serif;
  font-size: 2em;
  font-weight: 400;
}

h2,
h3 {
  font-family: $serif;
  font-size: 1.75em;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: .5em;
  @media (min-width: $s) {
    font-size: 1.875em;
  }
}

h4 {
  font-weight: 500;
}

h5 {
  font-weight: 400;
}

p {
  line-height: 1.6;
  &:last-of-type {
    margin-bottom: 0;
  }
}

p.large {
  font-size: 1.15em;
  font-weight: 200;
  line-height: 1.5;
  color: $red-2;
  margin-bottom: 1em;
}

a {
  color: $red-2;
  text-decoration: none;
  &:hover {
    color: $red-1;
  }
}

.cta-link {
  display: inline-block;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 200;
  line-height: 1.2;
  color: $brown;
  &:hover {
    color: $brown;
  }
}

.cta-link:after {
  display: inline-block;
  content: '\2192';
  font-size: 1.6em;
  position: relative;
  top: .12em;
  left: .07em;
}

p + .cta-link {
  margin-top: .5em;
}


.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}
