
// Typography

body {
  font-family: $sans;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1 {
  font-family: $serif;
  font-size: 2em;
  font-weight: 400;
}

h2,
h3 {
  font-family: $serif;
  font-size: 1.75em;
  line-height: 1.33;
  font-weight: 400;
  margin-bottom: .5em;
  @media (min-width: $s) {
    font-size: 2em;
  }
  @media (min-width: $m) {
    font-size: 2.25em;
  }
  @media (min-width: $l) {
    font-size: 2.5em;
  }
}

h4 {
  font-weight: 500;
}

h5 {
  font-weight: 400;
}

p {
  line-height: 1.66;
  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  color: $red-2;
  text-decoration: none;
  &:hover {
    color: $red-1;
  }
}

.section-title {
  color: $brown;
  margin-bottom: .5em;
}

p.intro,
.intro-section p {
  font-size: 1.25em;
  font-weight: 200;
  color: $red-2;
  strong {
    font-weight: 500;
  }
  @media (min-width: $m) {
    font-size: 1.375em;
  }
}

p.large {
  @media (min-width: $s) {
    font-size: 1.125em;
    line-height: 1.75;
  }
}

span.highlight {
  color: $red-2;
  font-weight: bold;
}

.cta-link {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 200;
  // line-height: 1.2;
  color: $brown;
  margin-top: 1.5em;
  @media (min-width: $l) {
    margin-top: 2em;
  }
  &:hover {
    color: $brown;
  }
}

.cta-link:after {
  display: inline-block;
  line-height: 0;
  content: '\2192';
  font-size: 1.6em;
  position: relative;
  top: .12em;
  left: .07em;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}
