
// Typography

body {
  font-family: $sans;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1 {
  font-family: $serif;
  font-size: 2em;
  font-weight: 400;
}

h2,
h3 {
  font-family: $serif;
  font-size: 1.75em;
  line-height: 1.33;
  font-weight: 400;
  margin-bottom: .5em;
  @media (min-width: $s) {
    font-size: 2em;
  }
  @media (min-width: $m) {
    font-size: 2.25em;
  }
  @media (min-width: $l) {
    font-size: 2.5em;
  }
}

h4 {
  color: $red-2;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
}

h4.large {
  font-size: 1.125em;
  margin-bottom: .5em;
  font-weight: 500;
  @media (min-width: $l) {
    // font-size: 2.5em;
  }
}

h5 {
  font-weight: 400;
}

p {
  line-height: 1.66;
  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  color: $red-2;
  text-decoration: none;
  &:hover {
    color: $red-1;
  }
}

.section-title {
  color: $brown;
  margin-bottom: .75em;
}

%intro_paragraph {
  font-size: 1.125em;
  font-weight: 200;
  color: $red-2;
  strong {
    font-weight: 500;
  }
  a {
    color: $red-1;
    &:hover {
      color: $red-2;
      text-decoration: underline;
    }
  }
  @media (min-width: $m) {
    font-size: 1.25em;
  }
}

p.intro,
.intro-section p {
  @extend %intro_paragraph;
}

p.large {
  @media (min-width: $s) {
    font-size: 1.125em;
    line-height: 1.75;
  }
}

span.highlight {
  color: $red-2;
  font-weight: bold;
}


.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}
