
// Colors
$default: #4A4A4A;
$gray-1: #d9d9d9;
$red-1: #f15b5d;
$red-2: #8c1d40;
$brown: #60504d;
$beige: #fef3e6;

// Fonts
$sans: 'Heebo', Helvetica, sans-serif;
$serif: 'EB Garamond', Georgia, serif;

// Media Queries
$xs: 375px;
$s: 480px;
$m: 720px;
$l: 860px;
$xl: 1100px;
