
// Colors

$gray-1: #D9D9D9;
$gray-2: #ABABAB;
$gray-3: #4A4A4A;

$red-1: #f15b5d;
$red-2: #8c1d40;
$brown: #60504d;
$beige: #fef3e6;

// Fonts
$sans: 'Heebo', Helvetica, sans-serif;
$serif: 'EB Garamond', Georgia, serif;

// Media Queries
$xs: 375px;
$s: 480px;
$m: 720px;
$l: 860px;
$xl: 1100px;


@mixin flex {
  display: flex;
  flex-flow: row wrap;
}

@mixin screen_mask($color: white) {
  content: '';
  display: block;
  background: $color;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

@mixin top_shadow($width, $height) {
  top: -$height;
  left: (100% - $width)/2;
  width: $width;
  height: $height;
  box-shadow: 0 $height/2 $height rgba(black, .3);
}
